<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>princess_idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{22,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_jump_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{22,28}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{22,28}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_jump_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{22,26}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{22,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_jump_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{22,28}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{22,28}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_jump_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1},{22,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1},{22,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{22,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{24,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{24,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{22,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1},{22,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{22,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{26,24}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>princess_run_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{22,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{22,30}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>princess_animation.png</string>
            <key>size</key>
            <string>{220,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37058fd4b02ed0d6ac7085499bd69ea0:3193b965d61af003d41632e1163089ef:0514b9f3cef3e4bbcc09676f3a94b7b7$</string>
            <key>textureFileName</key>
            <string>princess_animation.png</string>
        </dict>
    </dict>
</plist>
